/* Estilos para o cabeçalho */
header {
    height: 600px;
    background-image: url(imagens/imagens/Home.jpg);
    position: relative; /* Importante para o posicionamento absoluto do h1 */
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.equipe {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto1 {
    flex: 1; /* Ocupa o espaço restante */
    padding-left: 40px;
}
#foto1 {
    height: auto;
    width: 200px;
    padding: 50px;
    padding-right: 400px;
}
#foto3 {
    height: auto;
    width: 450px;
    padding: 50px;
    padding-top: 60px;
    padding-right: 100px;
    border-radius: 50px;
}
.fotos {
    display: flex;
}

#foto1, #foto02 {
    width: 200px; /* Define a largura das imagens */
    padding: 50px;
    border-radius: 50px;

}

#foto02 {
    padding-top: 120px;
    margin-top: 20px; /* Ajuste este valor para definir o deslocamento desejado */
}
h1 {
    text-align: center;
    position: absolute;
    top: 50%; /* Coloca o topo do h1 no meio do header */
    left: 0;
    right: 0;
    transform: translateY(-50%); /* Ajusta o h1 para o centro vertical */
    margin: 0;
    color: #fff; /* Cor do texto */
    font-size: 40px; /* Tamanho da fonte */
}
/* Estilos para o texto na barra de navegação */
.texto-nav {
    padding: 100px;
    position: absolute;
}

/* Estilos para o ícone de busca */
#lupa {
    height: auto;
    width: 22px;
    padding-left: 330px;
    position: absolute;
    padding-bottom: 5px;
    top: 50%; /* Alinha verticalmente no centro */
    transform: translateY(-50%); /* Ajusta a posição vertical */
}

/* Estilos para a barra de pesquisa */
.barra-procura {
    position: relative;
}

/* Estilos para o título principal */
h1 {
    margin: 0;
    font-size: 50px;
}

/* Estilos para os parágrafos na barra de navegação */
nav p {
    font-size: 20px;
}

/* Estilos para a imagem de navegação */
#imgnav {
    height: 500px;
    width: 900px;
    float: right;
}

/* Estilos para o logotipo */
#logo {
    height: auto;
    width: 70px;
    padding-left: 100px;
}

/* Estilos para os ícones de redes sociais */
#face {
    height: auto;
    width: 35px;
    padding-bottom: 10px;
}

#whats {
    height: auto;
    width: 23px;
    padding-bottom: 10px;

}

#insta {
    height: auto;
    width: 35px;
    padding-bottom: 10px;
}

/* Estilos para o segundo logotipo */
#logo2 {
    height: auto;
    width: 70px;
    float: right;
    padding-right: 100px;
    margin: 0;
}

/* Estilos para a lista de navegação */
ul {
    display: block;
    padding-right: 150px;
}

/* Estilos para os itens da lista de navegação */
li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    display: inline;
}

/* Estilos para a barra de pesquisa */
#search {
    margin-top: 10px;
    padding: 13px;
    padding-right: 150px;
    height: 20px;
    border-radius: 15px;
    font-size: 15px;
    width: 100%;
    color: #fff;
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid white; /* Uma borda de cor cinza */
    border-radius: 15px; /* Raio de borda de 15px */
    outline: none;
}

/* Posicionamento do campo de busca */
#busque {
    position: relative;
}

/* Estilos para o texto de placeholder na barra de pesquisa */
#search::placeholder {
    color: white;
}

/* Estilos para o topo da página */
.topo {
    display: flex;
    justify-content: space-between;
}

/* Estilos para as redes sociais */
.redes-sociais {
    float: left;
    padding: 20px;
}

/* Estilos para os itens da barra de navegação */
.navbar-items {
    list-style-type: none;
    margin-top: 10px;
}

/* Estilos para cada item da barra de navegação */
.navbar-item {
    margin-right: 20px;
}

/* Estilos para os links na barra de navegação */
.navbar-item a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para os links na barra de navegação  */
.navbar-item a:hover {
    color: #ccc;
}

.selecion{
    padding: 60px;
}
#carrinho{
    height: auto;
    width: 30px;

}
/* Estilos para o rodapé */
footer {
    background-color: #000000;
    padding: 20px;
    bottom: 0;
    position: sticky;
}

footer p{
    color: #fff;
    text-align: center;
    padding-top: 5px;
}
